[submodule "dependencies/client"]
	path = dependencies/client
	url = https://github.com/harshabose/client.git
[submodule "dependencies/tools/buffer"]
	path = dependencies/tools/buffer
	url = https://github.com/harshabose/buffer.git
[submodule "dependencies/mediapipe"]
	path = dependencies/mediapipe
	url = https://github.com/harshabose/mediapipe.git
