[submodule "dependencies/client"]
	path = dependencies/client
	url = https://github.com/harshabose/client.git
[submodule "dependencies/mediapipe"]
	path = dependencies/mediapipe
	url = https://github.com/harshabose/mediapipe.git
[submodule "dependencies/services"]
	path = dependencies/services
	url = https://github.com/harshabose/services.git
[submodule "dependencies/tools"]
	path = dependencies/tools
	url = https://github.com/harshabose/tools.git
